<body>
  <div class="container-scroller">
    {{! <div class="row p-0 m-0 proBanner" id="proBanner">
      <div class="col-md-12 p-0 m-0">
        <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
          <div class="ps-lg-1">
            <div class="d-flex align-items-center justify-content-between">
              <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with
                this template!</p>
              <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=buynow_demo"
                target="_blank" class="btn me-2 buy-now-btn border-0">Get Pro</a>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i
                class="mdi mdi-home me-3 text-white"></i></a>
            <button id="bannerClose" class="btn border-0 p-0">
              <i class="mdi mdi-close text-white me-0"></i>
            </button>
          </div>
        </div>
      </div>
    </div> }}
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img src="/images/logo.svg" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/images/logo-mini.svg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="nav-profile-img">
                <img src="{{user.hinhAnh}}" alt="image" />
                <span class="availability-status online"></span>
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">{{Name.email}}</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-cached me-2 text-success"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">
                <i class="mdi mdi-logout me-2 text-primary"></i>
                Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-bs-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count-symbol bg-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">Notifications</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-calendar"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Event
                    today</h6>
                  <p class="text-gray ellipsis mb-0">
                    Just a reminder that you have an event today
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-settings"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                  <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-link-variant"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Launch
                    Admin</h6>
                  <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="p-3 mb-0 text-center">See all notifications</h6>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src="{{user.hinhAnh}}" alt="profile" />
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column">
                <span class="font-weight-bold mb-2">{{Name.email}}</span>
                <span class="text-secondary text-small">Quản lý ứng dụng</span>
              </div>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cpanel/home">
              <span class="menu-title">Giới thiệu</span>
              <i class="fa-solid fa-house menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cpanel/home/trangchu">
              <span class="menu-title">Danh sách bảng tin nhà trọ</span>
              <i class="fa-solid fa-table-list menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cpanel/home/insertMotel">
              <span class="menu-title">Đăng tin cho thuê trọ</span>
              <i class="fa-solid fa-graduation-cap menu-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src=" /images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Weekly Sales <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">$ 15,0000</h2>
                    <h6 class="card-text">Increased by 60%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src=" /images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Weekly Orders <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">45,6334</h2>
                    <h6 class="card-text">Decreased by 10%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src=" /images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Visitors Online <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">95,5741</h2>
                    <h6 class="card-text">Increased by 5%</h6>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- <div class="row">
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="clearfix">
                      <h4 class="card-title float-left">Visit And Sales Statistics</h4>
                      <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Traffic Sources</h4>
                    <canvas id="traffic-chart"></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recent Tickets</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> Assignee </th>
                            <th> Subject </th>
                            <th> Status </th>
                            <th> Last Update </th>
                            <th> Tracking ID </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <img src=" /images/faces/face.jpg" class="me-2" alt="image"> Nhựt Vỹ
                            </td>
                            <td> Fund is not recieved </td>
                            <td>
                              <label class="badge badge-gradient-success">DONE</label>
                            </td>
                            <td> Dec 5, 2017 </td>
                            <td> WD-12345 </td>
                          </tr>
                          <tr>
                            <td>
                              <img src=" /images/faces/face2.jpg" class="me-2" alt="image"> Stella Johnson
                            </td>
                            <td> High loading time </td>
                            <td>
                              <label class="badge badge-gradient-warning">PROGRESS</label>
                            </td>
                            <td> Dec 12, 2017 </td>
                            <td> WD-12346 </td>
                          </tr>
                          <tr>
                            <td>
                              <img src=" /images/faces/face3.jpg" class="me-2" alt="image"> Marina Michel
                            </td>
                            <td> Website down for one week </td>
                            <td>
                              <label class="badge badge-gradient-info">ON HOLD</label>
                            </td>
                            <td> Dec 16, 2017 </td>
                            <td> WD-12347 </td>
                          </tr>
                          <tr>
                            <td>
                              <img src=" /images/faces/face4.jpg" class="me-2" alt="image"> John Doe
                            </td>
                            <td> Loosing control on server </td>
                            <td>
                              <label class="badge badge-gradient-danger">REJECTED</label>
                            </td>
                            <td> Dec 3, 2017 </td>
                            <td> WD-12348 </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <!-- LOGO HEADER END-->
                  <section class="menu-section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="navbar-collapse collapse">

                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- MENU SECTION END-->
                  <div>
                    <div class="container-md">
                      <div class="row" style="margin: 0 auto;">
                        <div class="col-md-2"></div>
                        <div class="col-md-8" style="border: 1px solid #ccc; padding: 40px; border-radius: 5px;">
                          <h4 class="h4-new">Đăng tin cho thuê nhà trọ</h4>
                          <form role="form" method="post">
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label" style="margin-bottom: 4px; font-size: 16px;" for="name">Tiêu
                                Đề</label>
                              <input type="text" class="form-control" id="tieuDe" name="tieuDe" />
                            </div>
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label" style="margin-bottom: 4px; font-size: 16px;"
                                for="student_code">Diện tích<span id="student_code-check"></span></label>
                              <input class="form-control" type="text" name="dienTich" id="dienTich" />
                            </div>
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label" style="margin-bottom: 4px; font-size: 16px;"
                                for="current_major">Giá phòng<span id="giaPhongdsasd"></span></label>
                              <input class="form-control" type="text" name="giaPhong" id="giaPhong" />
                            </div>
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label">Hình ảnh<span id="locationImage-check"></span></label>
                              <input onchange="onChangeFile();" name="image" type="file" accept="image/*"
                                class="form-control-file border" id="image-file" />
                              <img style="display: none; object-fit:cover;" src="" width="200" height="200"
                                id="image-view" />
                               <label id="textWAIT" style="font-size: 13px;" class="control-label"></label>
                            </div>
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label" style="margin-bottom: 4px; font-size: 16px;"
                                for="requested_course">Mô tả<span id="requested_course-check"></span></label>
                              <input class="form-control" type="text" name="moTa" id="moTa" />
                            </div>
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label" style="margin-bottom: 4px; font-size: 16px;"
                                for="requested_course">Số điện thoại<span id="requested_course-check"></span></label>
                              <input class="form-control" type="text" name="sdt" id="sdt" />
                            </div>
                            <div class="form-group-new" style="margin-bottom: 16px;">
                              <label class="control-label" style="margin-bottom: 4px; font-size: 16px;"
                                for="requested_course">Địa chỉ<span id="requested_course-check"></span></label>
                              <input class="form-control" type="text" name="diaChi" id="diaChi" />
                            </div>
                            <div class="form-group modal-footer">
                              <a href="/dich-vu-sinh-vien/chuyen-nganh-hoc"
                                style="text-decoration: none; margin-right: 12px;" class="btnThem">Quay lại</a>
                              <button style="font-size: 16px; padding: 8px 20px;" onclick="onSave()" id="buttonSave"
                                type="button" class="btn btn-primary">Lưu</button>
                            </div>
                           
                          </form>
                          <form action="/api/nhatros/create_payment_url" method="post">
                            <div class="form-group modal-footer">
                              <a href="/dich-vu-sinh-vien/chuyen-nganh-hoc"
                                style="text-decoration: none; margin-right: 12px;" class="btnThem">Quay lại</a>
                              <button style="font-size: 16px; padding: 8px 20px;" id="buttonSave"
                                type="submit" class="btn btn-primary">Thanh Toán</button>
                            </div>
                          </form>
                        </div>
                        <div class="col-md-2"></div>
                      </div>
                    </div>
                  </div>
                 

                  <!-- CONTENT-WRAPPER SECTION END-->
                  {{! <section class="footer-section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          &copy; 2022 Ít nhưng dài lâu
                        </div>
                      </div>
                    </div>
                  </section> }}
                </div>
              </div>
            </div>
          </div>

    <script>
            let shortlink={{{ shortlink }}}
            let idAuthor = {{{ idAuthor }}}
            const tieuDe = document.getElementById('tieuDe'); 
            const dienTich = document.getElementById('dienTich'); 
            const giaPhong =document.getElementById('giaPhong'); 
            const moTa =document.getElementById('moTa'); 
            const sdt =document.getElementById('sdt'); 
            const textWAIT =document.getElementById('textWAIT'); 
            
            const diaChi =document.getElementById('diaChi'); 
            const buttonSave =document.getElementById('buttonSave'); 

            const fetchAPI = async (url, option) => {
                const res = await fetch(url, option); 
                return res.json();
            } 
            let linkHinh = ""; 
            if (linkHinh === "") {
              buttonSave.disabled = true;
            } 
             if (shortlink === "") {
              buttonSave.disabled = true;
            }else if(shortlink === "Giao dịch thành công."){
              buttonSave.disabled = false;
            }

            
           const onChangeFile = async () => {
                  const imagefile = document.getElementById('image-file'); 
                  let file = imagefile.files[0]; 
                  const reader = new FileReader(); 
                  reader.onload = e => {
                       document.getElementById('image-view').src = e.target.result;
                      document.getElementById('image-view').style.display = 'block';
                  }
                  reader.readAsDataURL(file); 
                  var fd = new FormData();
                  fd.append("file", file); 
                  const url = `/api/media/uploadImage`; 

                  const option = { method: 'post', body: fd } 
                          try {
                              textWAIT.innerHTML="Đang tải hình lên...";
                              const result = await fetchAPI(url, option);                           
                              linkHinh =result.url; 
                              textWAIT.innerHTML="Đã tải xong";
                              return linkHinh;
                            } catch (e) { console.log(e); }
            } 
            const onSave = async () => {
                  const url = `/api/nhatros/themNhaTro`; 
                  const body = {
                         tieuDe: tieuDe.value,
                         dienTich: dienTich.value, 
                         giaPhong: giaPhong.value, 
                         moTa: moTa.value, 
                         sdt: sdt.value, 
                         diaChi: diaChi.value, 
                         hinhAnh: linkHinh,
                         user:idAuthor,
                  } 
                  const option = {
                         method: 'post', 
                         headers: {'Content-Type':'application/json'}, 
                         body: JSON.stringify(body)
                  } 
                   try {
                       
                        const result = await fetchAPI(url, option);
                        window.location.href = '/cpanel/home/trangchu';
                       } catch (e) {
                          console.log(e);
                       }
             } 
            const onPay = async () => {
                          const url = `/api/nhatros/create_payment_url`; 
                          const option = {
                              method: 'post',
                              headers: { 'Content-Type': 'application/json' }, 
                            } 
                            try {
                              const result = await fetchAPI(url, option);
                            } catch (e) { 
                              console.log(e); 
                            }
                        }

          </script>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
</body>