<body>
  <div class="container-scroller">
    {{! <div class="row p-0 m-0 proBanner" id="proBanner">
      <div class="col-md-12 p-0 m-0">
        <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
          <div class="ps-lg-1">
            <div class="d-flex align-items-center justify-content-between">
              <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with
                this template!</p>
              <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=buynow_demo"
                target="_blank" class="btn me-2 buy-now-btn border-0">Get Pro</a>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i
                class="mdi mdi-home me-3 text-white"></i></a>
            <button id="bannerClose" class="btn border-0 p-0">
              <i class="mdi mdi-close text-white me-0"></i>
            </button>
          </div>
        </div>
      </div>
    </div> }}
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html"><img src="/images/logo.svg" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/images/logo-mini.svg" alt="logo" /></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown"
              aria-expanded="false">
              <div class="nav-profile-img">
                <img src="/images/faces/face.jpg" alt="image" />
                <span class="availability-status online"></span>
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">{{Name.email}}</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-cached me-2 text-success"></i>
                Activity Log
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/logout">
                <i class="mdi mdi-logout me-2 text-primary"></i>
                Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
              data-bs-toggle="dropdown">
              <i class="mdi mdi-bell-outline"></i>
              <span class="count-symbol bg-danger"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
              aria-labelledby="notificationDropdown">
              <h6 class="p-3 mb-0">Notifications</h6>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="mdi mdi-calendar"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Event
                    today</h6>
                  <p class="text-gray ellipsis mb-0">
                    Just a reminder that you have an event today
                  </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="mdi mdi-settings"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                  <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-info">
                    <i class="mdi mdi-link-variant"></i>
                  </div>
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                  <h6 class="preview-subject font-weight-normal mb-1">Launch
                    Admin</h6>
                  <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                </div>
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="p-3 mb-0 text-center">See all notifications</h6>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
          data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
              <div class="nav-profile-image">
                <img src=" /images/faces/face.jpg" alt="profile" />
                <span class="login-status online"></span>
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column">
              
                <span style="font-size:13px" class="font-weight-bold mb-2">{{Name.email}}</span>
                
                <span class="text-secondary text-small">Quản lý ứng dụng</span>
              </div>
              <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
          </li>
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/">
              <span class="menu-title">Giới thiệu</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dich-vu-sinh-vien">
              <span class="menu-title">Dịch vụ sinh viên</span>
              <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dao-tao">
              <span class="menu-title">Đào tạo</span>
              <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tai-vu">
              <span class="menu-title">Tài vụ</span>
              <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">
              <span class="menu-title">Người dùng</span>
              <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link" href="/cpanel/home">
              <span class="menu-title">Giới thiệu</span>
              <i class="fa-solid fa-house menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cpanel/home/trangchu">
              <span class="menu-title">Danh sách bảng tin nhà trọ</span>
              <i class="fa-solid fa-table-list menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cpanel/home/insertMotel">
              <span class="menu-title">Đăng tin cho thuê trọ</span>
              <i class="fa-solid fa-graduation-cap menu-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src=" /images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Weekly Sales <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">$ 15,0000</h2>
                    <h6 class="card-text">Increased by 60%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src=" /images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Weekly Orders <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">45,6334</h2>
                    <h6 class="card-text">Decreased by 10%</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src=" /images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Visitors Online <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">95,5741</h2>
                    <h6 class="card-text">Increased by 5%</h6>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- <div class="row">
              <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="clearfix">
                      <h4 class="card-title float-left">Visit And Sales Statistics</h4>
                      <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                    </div>
                    <canvas id="visit-sale-chart" class="mt-4"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Traffic Sources</h4>
                    <canvas id="traffic-chart"></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                  </div>
                </div>
              </div>
            </div> -->
          <!-- <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recent Tickets</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th> Assignee </th>
                            <th> Subject </th>
                            <th> Status </th>
                            <th> Last Update </th>
                            <th> Tracking ID </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <img src=" /images/faces/face.jpg" class="me-2" alt="image"> Nhựt Vỹ
                            </td>
                            <td> Fund is not recieved </td>
                            <td>
                              <label class="badge badge-gradient-success">DONE</label>
                            </td>
                            <td> Dec 5, 2017 </td>
                            <td> WD-12345 </td>
                          </tr>
                          <tr>
                            <td>
                              <img src=" /images/faces/face2.jpg" class="me-2" alt="image"> Stella Johnson
                            </td>
                            <td> High loading time </td>
                            <td>
                              <label class="badge badge-gradient-warning">PROGRESS</label>
                            </td>
                            <td> Dec 12, 2017 </td>
                            <td> WD-12346 </td>
                          </tr>
                          <tr>
                            <td>
                              <img src=" /images/faces/face3.jpg" class="me-2" alt="image"> Marina Michel
                            </td>
                            <td> Website down for one week </td>
                            <td>
                              <label class="badge badge-gradient-info">ON HOLD</label>
                            </td>
                            <td> Dec 16, 2017 </td>
                            <td> WD-12347 </td>
                          </tr>
                          <tr>
                            <td>
                              <img src=" /images/faces/face4.jpg" class="me-2" alt="image"> John Doe
                            </td>
                            <td> Loosing control on server </td>
                            <td>
                              <label class="badge badge-gradient-danger">REJECTED</label>
                            </td>
                            <td> Dec 3, 2017 </td>
                            <td> WD-12348 </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <!-- LOGO HEADER END-->
                  <section class="menu-section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="navbar-collapse collapse ">

                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <!-- MENU SECTION END-->
                  <div>
                    <div class="container">
                      <a style="font-size:30px;">Danh sách nhà trọ đang cho thuê</a>

                      {{!-- <div class="row"> --}}
                        {{!-- <div class="col-md-12"> --}}
                          <!-- Advanced Tables -->
                          {{!-- <div class="panel panel-default"> --}}
                            {{!-- <div class="panel-body-student"> --}}
                              <div class="table-responsive">
                                {{!-- <table class="table table-striped table-bordered table-hover"
                                  id="dataTables-example">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>MSSV</th>
                                      <th>Tên</th>
                                      <th>Khóa học hiện tại</th>
                                      <th>Ngành học hiện tại</th>
                                      <th>Học kỳ kiện tại</th>
                                      <th>Ngành học yêu cầu</th>
                                      <th>Học kỳ yêu cầu</th>
                                      <th>Cơ sở</th>
                                      <th>Lý do yêu cầu</th>
                                      <th>Cập nhật lúc</th>
                                      <th>Trạng thái</th>
                                      <th class="action">Thao tác</th>
                                    </tr>
                                  </thead>
                                  <tbody id="tbody">
                                    {{#each coursePapers}}
                                    <tr>
                                      <td>{{index @index}}</td>
                                      <td>{{this.student_code}}</td>
                                      <td>{{this.fullname}}</td>
                                      <td>{{this.current_course}}</td>
                                      <td>{{this.current_major}}</td>
                                      <td>{{this.current_semester}}</td>
                                      <td>{{this.requested_course}}</td>
                                      <td>{{this.requested_semester}}</td>
                                      <td>{{this.unit}}</td>
                                      <td>{{this.requested_reason}}</td>
                                      <td>
                                        <p>{{formatDate this.updatedAt 1}}</p>
                                        <p>{{formatTime this.updatedAt 1}}</p>
                                      </td>
                                      <td>
                                        <select onchange="handleChangeStatus(this)">
                                          {{#each ../paperStatus}}
                                          {{#ifEquals this.value ../this.paper_status}}
                                          <option value="{{../this.value}}-{{../../this._id}}" selected>
                                            {{../this.label}}
                                          </option>
                                          {{else}}
                                          <option value="{{../this.value}}-{{../../this._id}}">{{../this.label}}
                                          </option>
                                          {{/ifEquals}}
                                          {{/each}}
                                        </select>
                                      </td>

                                      <td>
                                        <button data-toggle="modal" data-target="#myModal"
                                          onclick="detail('{{this._id}}')" class="btn btn-link">
                                          <i class="fa fa-edit "></i> Chi tiết
                                        </button>
                                      </td>
                                    </tr>
                                    {{/each}}
                                  </tbody>
                                </table> --}}

                                <table style="margin-top:20px ;" class="table datatable">
                                  <thead>
                                    <tr>

                                      <th scope="col">Tiêu đề</th>
                                      {{!-- <th scope="col">account</th> --}}
                                      {{!-- <th scope="col">releasedDate</th> --}}
                                      <th scope="col">Diện tích</th>
                                      <th scope="col">Giá phòng</th>
                                      <th scope="col">Hình ảnh</th>
                                      <th scope="col">Số điện thoại</th>
                                      <th scope="col">Địa chỉ</th>
                                      <th style="padding-left:30px ;" scope="col">Chi tiết</th>
                                      <th style="padding-left:30px ;" scope="col">Xóa</th>
                                    </tr>
                                  </thead>


                                  <tbody>

                                    {{#each response }}
                                    <tr>
                                      <td style="padding-top:35px;">{{this.tieuDe}}</td>

                                      {{!-- <td>{{this.account}}</td> --}}
                                      {{!-- <td>{{this.releasedDate}}</td> --}}
                                      <td style="padding-top:35px;">{{this.dienTich}}</td>
                                      <td style="padding-top:35px;">{{this.giaPhong}}</td>
                                      <td>
                                        <img src="{{this.hinhAnh}}">
                                      </td>
                                      <td style="padding-top:35px;">{{this.sdt}}</td>
                                      <td style="padding-top:35px;">{{this.diaChi}}</td>
                                      <td>
                                        <button id="buttonEdit" class="btn btn-link"
                                          onclick="edit('{{this._id}}')">Edit</button>
                                      </td>
                                      <td>
                                        <button onclick="goDelete('{{this._id}}')" data-toggle="modal"
                                          data-target="#confirmModal" id="buttonEdit"
                                          class="btn btn-link">Delete</button>
                                      </td>

                                    </tr>
                                    {{/each}}
                                  </tbody>
                                </table>
                              </div>
                              {{!--
                            </div> --}}
                            {{!-- </div> --}}
                          <!--End Advanced Tables -->
                          {{!--
                        </div> --}}
                        {{!-- </div> --}}
                    </div>
                  </div>

                  <!--  Modals-->
                  <div style=" margin: 100px 350px auto 350px;" id="myModal" class="modal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button style="font-size: 30px; margin-left: 28px;" type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                        </div>
                        <div class="modal-body" style="padding: 40px;">
                          <div class="form-group " id="student-info">
                            <div class="each-history">
                              <div class="each-item">
                                <div class="item-label">Người tiếp nhận</div>
                                <input class="item-value form-control" readonly id="user-step1">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Ngày đăng</div>
                                <input class="item-value form-control" readonly id="date-step1">
                              </div>
                              <div class="each-item">
                                <div class="item-label">MSSV</div>
                                <input class="item-value form-control" readonly id="student-code">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Tên</div>
                                <input class="item-value form-control" readonly id="student-name">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Ngành học hiện tại</div>
                                <input class="item-value form-control" readonly id="student-current-course">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Chuyên ngành hẹp</div>
                                <input class="item-value form-control" readonly id="student-current-major">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Học kỳ kiện tại</div>
                                <input class="item-value form-control" readonly id="student-current-semester">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Ngành học yêu cầu</div>
                                <input class="item-value form-control" readonly id="student-requested-course">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Học kỳ yêu cầu</div>
                                <input class="item-value form-control" readonly id="student-requested-semester">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Cơ sở</div>
                                <input class="item-value form-control" readonly id="student-unit">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Lý do yêu cầu</div>
                                <input class="item-value form-control" readonly id="student-reason">
                              </div>
                              <hr width="100%">
                              <div class="each-item">
                                <div class="item-label">Tên đào tạo</div>
                                <input class="item-value form-control" readonly id="user-step2">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Ngày đào tạo điền</div>
                                <input class="item-value form-control" readonly id="date-step2">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Lý do được chấp thuận</div>
                                <input class="item-value form-control" readonly id="education-reason">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Ngành học mới</div>
                                <input class="item-value form-control" readonly id="education-request_accepted_reason">
                              </div>
                              <hr width="100%">
                              <div class="each-item">
                                <div class="item-label">Tên tài vụ</div>
                                <input class="item-value form-control" readonly id="fee_accepted_at">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Ngày tài vụ điền</div>
                                <input class="item-value form-control" readonly id="fee_accepted_by">
                              </div>
                              <div class="each-item">
                                <div class="item-label">Môn học mới</div>
                                <div id="new-courses" class="d-flex"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group modal-footer">
                          <button style="padding: 12px 26px; font-size: 16px;" data-dismiss="modal" type="button"
                            class="btn btn-primary">Đóng</button>
                        </div>
                      </div>
                    </div>
                  </div>
                

                  <!-- CONTENT-WRAPPER SECTION END-->
                  {{!-- <section class="footer-section">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          &copy; 2022 Ít nhưng dài lâu
                        </div>
                      </div>
                    </div>
                  </section> --}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script>
    const edit = (id) => {
      window.location.href = `/cpanel/home/${id}/detailMotel`
    }
    let deleted_id;

    const goDelete = (id) => {
      deleted_id = id;
      onDelete();
    }

    const fetchAPI = async (url, option) => {
      const res = await fetch(url, option);
      return res.json();
    }

    const onDelete = async () => {
      const url = `/api/nhatros/${deleted_id}/deleteNhaTro`;
      const option = {
        method: 'delete',
        headers: { 'Content-Type': 'application/json' }
      }
      try {
        await fetchAPI(url, option);
        window.location.href = 'trangchu';
      } catch (e) { console.log('Delete error: ', e) }
    }
  </script>
</body>